absl-py==2.2.2
aiohttp==3.12.13
anyio==4.9.0
fastapi==0.115.13
h5py==3.13.0
keras==3.9.2
matplotlib==3.10.3
numpy==1.26.4
pandas==2.2.3
python-binance==1.0.29
pydantic==2.11.7
scikit-learn==1.6.1
scipy==1.15.3
tensorboard==2.16.2
tensorflow==2.16.2
uvicorn==0.34.3
typing_extensions==4.13.2
